body{
	background: #1E3845;
}

a{
	text-decoration:none;
}

header{
	height: 100px;
	width:auto;
}

div#button{
	background: #456D83;
	width:auto;
	height:100px;
	text-align:center;
}

div.block_button_1{
	

}

div.block_button_2{}
	

a#task{
color:white;
font-size:50px;
display:block;
width:100%;
height:100%;
padding-top:10px;
}

a#task:hover{
	background: #3281FF;
}

a#teor{

color:white;
font-size:50px;
display:block;
width:100%;
height:100%;
padding-top:10px;

}
a#teor:hover{
	background: #3281FF;
}

div.content{
	margin-top:150px;
	height:700px;
	width:auto;
	background:#456D83;
	margin:15px;
	margin-top:150px;
}

div.content p{
	color:white;
	font-size:40px;
	text-align:center;
	padding:20px;
}

p.sing{
	color:white;
	text-align:right;
	font-size:25px;
	margin-right:10px;
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}